* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: url("chambord.jpg") #000 center no-repeat fixed;
    object-fit: fill;
}

#snow-fall {
    width: 100%;
    height: 100vh;
}